/*===== FONTS =====*/
@font-face {
  font-family: 'PoetsenOne';
  src: url('./files/fonts/PoetsenOne.ttf');
}

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --heart-height: 45px;
  --footer-height: 4rem;

  /*========== Colors ==========*/
  --first-color: #DA2535;
  --first-color-dark: #C42130;
  --first-color-darken: #DE3B49;
  --title-color: #161212;
  --title-home-color: #5361FF;
  --title-home-color-dark: #5361FF;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #FEFBFB;
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'PoetsenOne', sans-serif; 
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 5rem;
  --mb-8: 8rem;
  /*========== z index ==========*/

  --z-element1: 1;
  --z-element2: 2;
  --z-fixed: 100;
}

@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== BASE ==========*/
*,::before,::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.darkTheme {
  --first-color-darken: #161212;
  --title-color: #F3F1F1;
  --title-home-color-dark: #F3F1F1;
  --text-color: #D1C7C8;
  --body-color: #251D1E;
  --container-color: #302728;
}

/*========== Button Dark/Light ==========*/
.changeTheme {
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-home-color-dark);
  font-size: 2rem;
  transition: .5s;
}

.changeTheme:hover {
  color:var(--first-color)
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,ul,li,p {
  margin: 0;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul, li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  background: inherit;
  border-radius: inherit;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.sectionTitle {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-top: var(--mb-5);
  margin-bottom: var(--mb-5);
}

.sectionTitle:after, .collectionTitle::after {
  position: absolute;
  content: "";
  width: 80px;
  height: .22rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.5rem;
  background-color: var(--first-color);
}

.collectionTitle {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-5);
}

/*========== LAYOUT ==========*/
.main {
  overflow: hidden;
}

.bdContainer{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bdGrid {
  display: grid;
  gap: 1.5rem;
}

.bgLoading {
  display: grid;
  justify-content: center;
  align-items: center;
  /* margin: 3rem auto; */
  /* width: 90vw;
  height: 90vh; */
  width: 100vw;
  height: 100vh;
  background-color: var(--first-color-darken);
  /* border-radius: 8rem; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
}

/*========== HEADER ==========*/

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.bgHeaderLight {
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.bgHeaderDark {
  box-shadow: 0 3px 5px rgba(239, 236, 244, 0.2);
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numCount {
  z-index: var(--z-element2);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  color: var(--title-home-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
  min-width: 1.5rem;
  padding: 1px 3px;
  margin: 0 2px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}

.numCount:hover {
  color: var(--container-color);
  background-color: var(--first-color-darken);
}

.showNumCount {
  opacity: 1;
  bottom: 1.5rem;
  animation-duration: .5s;
  animation-name: animate-num_cart;
}

@keyframes animate-num_cart {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.2,1.2);
  }
  100%{
    transform: scale(1,1);
  }
}

.filterBtn {
  position: absolute;
  right: 3.3rem;
  top: 5.5rem;
  color: var(--title-home-color-dark);
  transition: .5s;
}

.filterBtn:hover {
  color: var(--first-color);
}

.openFilterMenu {
  position: fixed;
  top: calc( var(--header-height) + 3rem);
  right: -100%;
  width: 350px;
  height: 80%;
  padding: 0 0.6rem;
  border-radius: .5rem;
  color: var(--body-color);
  backdrop-filter: blur(10px);
  z-index: var(--z-fixed);
  transition: .5s;
  box-shadow: 0 4px 10px rgba(239, 236, 244, 0.2),
              0 -4px 10px rgba(239, 236, 244, 0.2);
}

.menuLight {
  background-color: rgba(4, 4, 4, 0.6);
}

.menuDark {
  background-color: rgba(255,255,255,.3);
}

.showFilter {
  right: 1rem;
}

.titleFilter {
  font-size: 1.2rem;
  margin: 3rem 0 0;
  padding: 0.6rem 0;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  color: var(--first-color);
  background-color: rgba(255,255,255,.3);
}

.menuFilter {
  display: grid;
  border-radius: 0 0 1rem 1rem;
  background-color: rgba(255,255,255,.3);
  
}

.filterName {
  text-align: center;
  padding: 0.1rem 0;
  border-radius: 0.8rem;
  transition: .5s;
  cursor: pointer;
}

.filterName:hover {
  color: var(--title-home-color-dark);
  background-color: var(--container-color);
  transform: scale(1.05);
}

.btnFilterOn {
  color: green;
}

.btnFilterOn, .btnFilterOff {
  font-size: 2rem;
  vertical-align: middle;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.btnFilterLeft {
  font-size: 1.6rem;
  vertical-align: middle;
}

.filterMenuDash {
  width: 260px;
  margin-top: var(--mb-5);
  margin-left: var(--mb-5);
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .navMenu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.navItem {
  margin-bottom: var(--mb-3);
}

.navLink, .navLogo {
  color: var(--title-home-color-dark);
  font-weight: var(--font-semi-bold);
  transition: .3s;
}

.navLink:hover, .navLogo:hover {
  color: var(--first-color);
}

.icon {
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 40px;
  height: 25px;
  z-index: 1;
  cursor: pointer;
}

.hamburguer {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 2px;
  border-radius: 1rem;
  background-color: var(--title-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.hamburguer:before {
  content: '';
  position: absolute;
  margin-top: 20%;
  right: 0;
  top: -12px;
  width: 27px;
  height: 2px;
  border-radius: 1rem;
  background-color: var(--title-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.hamburguer:after {
  content: '';
  position: absolute;
  margin-top: -20%;
  right: 0;
  top: 12px;
  width: 27px;
  height: 2px;
  border-radius: 1rem;
  background-color: var(--title-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  cursor: pointer;
}

.iconActive .hamburguer {
  background: transparent;
  box-shadow: 0 2px 5px transparent;
}

.iconActive .hamburguer:before {
  top: -6px;
  background-color: var(--title-color);
  transform: rotate(225deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.iconActive .hamburguer:after {
  top: 2px;
  background-color: var(--title-color);
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* Show menu */
.show {
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.activeLink {
  position: relative;
}

.activeLink::before {
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(218,37,53,.5);
  border-radius: .4rem;
  z-index: var(--z-element1);
  opacity: 0;
  cursor: pointer;
  transition: .5s;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltopIcon {
  font-size: 2rem;
  color: var(--body-color);
}

.showScroll {
  opacity: 1;
  bottom: 1.5rem;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-name: animate-scroll;
}

@keyframes animate-scroll {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.2,1.2);
  }
  100%{
    transform: scale(1,1);
  }
}

/*========== HOME ==========*/

.home {
  background-color: var(--first-color-darken);
  padding-bottom: var(--mb-2);
}

.homeContainer {
  height: calc(100vh - 13rem);
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.5rem;
  margin-bottom: var(--mb-7);
  padding-bottom: var(--mb-8);
}

.homeImg {
  position: relative;
  padding-top: 1.5rem;
  justify-self: center;
  width: 302px;
  height: 233px;
}

.imgs {
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(5px 10px 15px rgba(65,11,16,.15));
}

.img3 {
  position: relative;
  top: 6rem;
  left: -4rem;
  transform: rotate(15deg);
  filter: drop-shadow(5px 10px 15px rgba(65,11,16,.15));
}

.img6 {
  position: relative;
  top: -12rem;
  left: 4rem;
  width: 70%;
  filter: drop-shadow(5px 10px 15px rgba(65,11,16,.15));
}

.homeData {
  margin-top: var(--mb-6);
  margin-left: var(--mb-3);
  color: var(--container-color);
}

.homeTitle {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
  color: var(--title-home-color);
  text-shadow: 0 8px 12px rgba(0,0,0,.5);
}

.homeDescription {
  margin-bottom: var(--mb-3);
  font-weight: var(--font-semi-bold);
  font-size: var(--h2-font-size);
  color: #FFF;
  text-shadow: 0 6px 25px rgba(0,0,0,.5);
}

.homeButton {
  background-color: var(--title-home-color);
  color: var(--container-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
  padding: 1.125rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: 0.5s;
}

.homeButton:hover {
  color: var(--title-color);
  box-shadow: 0 4px 10px rgba(239, 236, 244, 0.447),
              0 -4px 10px rgba(239, 236, 244, 0.447);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .5s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--container-color);
  box-shadow: 0 2px 6px 4px rgba(65,11,16,.15);
  color: var(--first-color);
}

.msgLogin {
  opacity: 0;
  position: fixed;
  top: -100%;
  left: 60%;
  right: 0;
  width: 35%;
  padding: 0.5rem 0;
  text-align: center;
  /* background-color: var(--container-color); */
  background-color: rgba(239, 236, 244, 0.8);
  transition: .8s;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  border-radius: 0.5rem;
  z-index: var(--z-fixed);
}

.msgLoginOK {
  background-color: rgba(25, 145, 39, 0.8);
  left: 60%;
}

.msgLoginError {
  background-color: rgba(221, 56, 6, 0.8);
  left: 75%;
  color: #FFF;
}

.msgLoginOK, .msgLoginError {
  opacity: 0;
  position: fixed;
  top: -100%;
  right: 0;
  width: 23%;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
  transition: .8s;
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  border-radius: 0.5rem;
  z-index: var(--z-fixed);
}

.showMsg {
  opacity: 1;
  top: calc(var(--header-height) + 3rem);
  animation-delay: 0.8s;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-name: animate-msgLogin;
}

@keyframes animate-msgLogin {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}


.msgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
}

.msgContent_icon {
  color: blue;
  margin-left: 1rem;
  font-size: 1.8rem;
}

.msgClose {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: .3s;
  background: transparent;
}

.msgClose:hover {
  opacity: .5;
}

.msgClose:before, .msgClose:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  top: 50%;
  left: 50%;
  background-color: var(--title-home-color);
}

.msgClose:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.msgClose:after {
  transform: translate(-50%, -50%) rotate(135deg);
}

/*========== SHOES ==========*/
.shoesContainer {
  grid-template-columns: repeat(1,1fr);
  padding-bottom: 2rem;
  margin: 0 2rem;
}

.shoesContent {
  position: relative;
  display: grid;
  min-height: 20rem;
  padding: 0.50rem 2.2rem 0rem 1rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  border-radius: 1rem;
  cursor: pointer;
}

.shoesImg {
  width: 200px;
  max-height: 200px;
  justify-self: center;
  margin-bottom: .25rem;
}

.shoesTitle, .shoesCategory {
  text-align: center;
}

.shoesTitle {
  font-size: var(--normal-font-size);
}

.shoesCategory {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.shoesShip_icon {
  font-size: 1.2rem;
  color: green;
  margin-left: .5rem;
  vertical-align: middle;
}

.shoesPreci {
  padding-top: 0.5rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  text-align: center;
  color: var(--title-color);
  border-top: 1px solid var(--text-color-light);
}

.favoritedButton {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  height: var(--heart-height);
  padding: .75rem;
  border-radius: 1rem 0 1rem 0;
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
}

.favoritedButtonDetails {
  position: relative;
  top: .10rem;
  left: 1rem;
  font-size: 1.25rem;
  height: var(--heart-height);
  padding: .5rem 1rem 0 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
}

.addRemoveButtons {
  position: absolute;
  right: 0;
  bottom: 4.5rem;
}

.addButton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  font-size: 1.20rem;
  padding: .5rem .625rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}

.removeButton {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  font-size: 1.20rem;
  padding: .5rem .625rem;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -2px 6px rgba(65,11,16,.15);
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}

.addButton:active, .removeButton:active {
  color: var(--container-color);
  background-color: var(--title-home-color);
}


.cartItems {
  position: absolute;
  bottom: 2.6rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  color: var(--container-color);
  width: 2.45rem;
  height: 2.7rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: var(--z-element2);
  transition: 0.5s;
  opacity: 1;
}

.cartItemsN1 {
  position: absolute;
  bottom: 2.6rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  color: var(--container-color);
  width: 2.45rem;
  height: 2.7rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: var(--z-element2);
  transition: 0.5s;
  opacity: 1;
}

.addRemoveBtnsDetails {
  position: relative;
  left: 20rem;
  top: -6rem;
}

.cartItemsDetails {
  position: relative;
  top: 4.5rem;
}

.cartItemsN1Details {
  position: relative;
  top: 2.1rem;
}

.cartItemsDetails, .cartItemsN1Details {
  left: -21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  color: #FFF;
  border-radius: 1rem;
  padding: .84rem .65rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
}

.cartItemsDetails:hover, .cartItemsN1Details:hover {
  background-color: var(--container-color);
  color: var(--first-color);
}

.numberItems {
  font-size: 80%;
  display: flex;
  justify-content:center;
  width: .9rem;
  height: 1.2rem;
  border-radius: 40px;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowPage {
  font-size: 1.9rem;
}

.brLeft {
  border-radius: 1rem 0 0 1rem;
}

.brRight {
  border-radius: 0 1rem 1rem 0;
}

.numPage {
  font-size: 1.2rem;
}

.arrowPage, .numPage {
  text-align: center;
  vertical-align: middle;
  background-color: var(--first-color-dark);
  color: #FFF;
  width: 40px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2),
              0 -2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.numPage:hover, .arrowPage:hover, .atualPg {
  background-color: var(--first-color-darken);
}

/*========== SHOES DETAILS ==========*/

.shoesDetails {
  display: grid;
  justify-content: center;
}

.box {
  margin-top: calc(var(--header-height) + 3rem);
  height: max-content;
  width: 100vw;
  box-shadow: 0 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 70rem;
}

.btnHome {
  position: relative;
  z-index: 99;
  left: -10rem;
  font-size: 2rem;
  color: var(--first-color);
  box-shadow: 0 2px 10px rgba(35,0,77,.2);
  padding: 8px 8px 3px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.btnHome:hover {
  color:var(--first-color-dark);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .3);
}

.topDetails {
  display: grid;
  height: max-content;
  overflow: hidden;
  padding-bottom: 25px;
}

.titleDetails {
  margin: 25px;
  justify-self: center;
  z-index: 1;
  width: 90vw;
  background-color: var(--container-color);
  padding: 2rem 1rem;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.titleCategory, .ingredients h3 {
  font-size: var(--h3-font-size);
}

.ingredients h3 {
  margin-top: var(--mb-3);
}

.imageButtons {
  justify-self: center;
  margin-top: -3rem;
}

.imageButtons .detailsImage {
  width: 86vw;
  border-radius: 0 0 40px 40px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  margin-bottom: 1.5rem;
}

.imageButtons .favCartBtns {
  display: flex;
  justify-content: space-around;
  width: 250px;
  height: 70px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(35,0,77,.2);
}

.imageButtons .favCartBtns:hover {
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .3);
}

/*========== FAVORITED ==========*/
.favContainer {
  grid-template-columns: repeat(1,1fr);
  padding-bottom: 2rem;
  margin: 0 2rem;
}

.favContent {
  position: relative;
  display: grid;
  min-height: 20rem;
  padding: 0.50rem 2.2rem 0rem 1rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  border-radius: 1rem;
  cursor: pointer;
}

.favImg {
  width: 200px;
  max-height: 200px;
  justify-self: center;
  margin-bottom: .25rem;
}

.favTitle, .favCategory {
  text-align: center;
}

.favTitle {
  font-size: var(--normal-font-size);
}

.favCategory {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.favPreci {
  padding-top: 0.5rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  text-align: center;
  color: var(--title-color);
  border-top: 1px solid var(--text-color-light);
}

/*========== CART ==========*/
.cartContainer {
  grid-template-columns: repeat(1,1fr);
  padding-bottom: 2rem;
  margin: 0 2rem;
}

.cartContent {
  position: relative;
  display: grid;
  min-height: 20rem;
  padding: 0.50rem 2.2rem 0rem 1rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  border-radius: 1rem;
  cursor: pointer;
}

.cartLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 1rem;
  background-color: #FFF;
  margin: 0 auto;
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
  border-radius: .5rem;
}

.cartLogin button, .cartLogin p {
  font-size: var(--h3-font-size);
}

.goLoginTitle {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  text-align: center;
  margin-top: var(--mb-7);
  margin-bottom: var(--mb-3);
}

.goLoginDashboard {
  width: 500px;
  border-bottom: 1px solid var(--text-color-light);
  border-top: 1px solid var(--text-color-light);
  margin-bottom: var(--mb-2);
}

.addRemoveBtns {
  position: absolute;
  right: 0;
  bottom: 4.5rem;
  opacity: 1;
}

.cartItemsCart {
  position: absolute;
  bottom: 2.6rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  color: var(--container-color);
  width: 2.45rem;
  height: 2.7rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: var(--z-element2);
  transition: 0.5s;
}

.cartItemsN1Cart {
  position: absolute;
  right: 0;
  bottom: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--container-color);
  background-color: var(--first-color);
  width: 2.45rem;
  height: 2.7rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2),
              0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: var(--z-element2);
  transition: 0.5s;
}

.cartImg {
  width: 200px;
  max-height: 200px;
  justify-self: center;
  margin-bottom: .25rem;
}

.cartTitle, .cartCategory {
  text-align: center;
}

.cartTitle {
  font-size: var(--normal-font-size);
}

.cartCategory {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.cartQty {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}

.addButtonCart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  font-size: 1.20rem;
  padding: .5rem .625rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  cursor: pointer;
  transition: 0.3s;
}

.removeButtonCart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  font-size: 1.20rem;
  padding: .5rem .625rem;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -2px 6px rgba(65,11,16,.15);
  cursor: pointer;
  transition: 0.3s;
}

.addButtonCart:active, .removeButtonCart:active {
  color: var(--container-color);
  background-color: var(--title-home-color);
}

.opacity {
  opacity: 0;
  transition: 0.5s;
}

.bgBlue {
  background-color: var(--title-home-color);
}

.cartPreci {
  padding-top: 0.5rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  text-align: center;
  color: var(--title-color);
  border-top: 1px solid var(--text-color-light);
}

.removedButton {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  height: var(--heart-height);
  padding: .75rem;
  border-radius: 0 1rem 0 1rem;
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
}

.footerCart {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.footerNav {
  height: var(--footer-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerCart button, .totalCart h3 {
  font-size: 0.75rem;
  font-weight: var(--font-semi-bold);
  margin-right: var(--mb-1);
}

.totalCart {
  min-width: 6rem;
}

.footerCart button {
  padding: .35rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  cursor: pointer;
  transition: 0.5s;
}

.footerCart button:hover {
  box-shadow: 0 4px 3px rgba(65,11,16,.15);
}

.trashCancelBtn, .shopBtn {
  color: #000;
  background-color: #FFF;
  transition: 0.5s;
  height: 2.5rem;
}

.trashCancelBtn:hover {
  color: #FFF;
  background-color: var(--first-color);
}

.trashCancelBtn:hover .cancelIcon,  .trashCancelBtn:hover .clearIcon {
  color: #FFF;
}

.shopBtn:hover {
  color: #FFF;
  background-color: var(--title-home-color);
}

.shopBtn:hover .shopIcon {
  color: #FFF;
}

.clearIcon, .cancelIcon {
  color: var(--first-color);
  margin-right: var(--mb-1);
  transition: 0.5s;
}

.cancelIcon {
  font-size: 1.2rem;
  vertical-align: middle;
}

.shopIcon {
  color: var(--title-home-color);
  margin-right: var(--mb-1);
  transition: 0.5s;
}

/*========== FOOTER ==========*/
.footer {
  margin-top: 10rem;
}

.footerContainer {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footerTitle {
  margin-bottom: var(--mb-2);
  font-size: var(--h3-font-size);
}

.footerLink {
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
  cursor: pointer;
}

.footerLink:hover {
  color: var(--title-home-color);
}

.footerSocial {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
  cursor: pointer;
  transition: .5s;
}

.footerSocial:hover {
  transform: scale(1.50);
  color: var(--first-color);
}

.footerCopy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

/*========== CHECKOUT ==========*/

.checkoutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 1rem;
  background-color: #FFF;
  margin: 0 auto;
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
  border-radius: .5rem;
}

.checkoutDash {
  width: 230px;
}

.checkoutForms {
  display: grid;
  justify-content: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--text-color-light);
}

.checkoutBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: .30rem .5rem;
  background-color: #FFF;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  border-radius: .2rem;
}

.checkoutIcon {
  font-size: 1.5rem;
  color: var(--title-home-color);
}

.checkoutInput {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--title-home-color);
}

.checkoutInput::placeholder {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-color-light);
}

.buyBtn {
  color: #000;
  margin-top: 1rem;
  padding: .5rem .75rem;
  border-radius: .75rem;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  transition: 0.5s;
  cursor: pointer;
}

.buyBtn:hover {
  color: #FFF;
  background-color: var(--title-home-color);
}

.buyBtn:hover .shopIcon {
  color: #FFF;
}

/*========== PURCHASED ==========*/
.checkoutTitle {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-5);
}

.itemsBought {
  display: grid;
  justify-content: flex-end;
}

.purchasedCategory {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.purchasedAnimation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.purchasedBack {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  cursor: pointer;
  transition: .5s;
}

.purchasedBack:hover {
  color: var(--title-home-color);
}

.checkoutDashboard {
  width: 650px;
}

/*========== PROFILE ==========*/

.logOutInsertImage {
  display: none;
}

.profileCard {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
}

.profileCard:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(to top, var(--first-color-dark), var(--first-color-darken) );
}

.profileContent {
  position: absolute;
  top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageProfile {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid var(--text-color);
  overflow: hidden;
}

.bgCamera {
  position: relative;
  top: -4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  cursor: pointer;
}

.cameraIcon {
  opacity: 0;
  color: #FFF;
  transition: .8s;
  font-size: 1.7rem;
}

.cameraIcon:hover {
  opacity: 1;
}

.cameraIcon:hover .bgCamera {
  background: rgba(79, 172, 254, 0.7);
}

.userName {
  margin-bottom: 5px;
}

.userName, .email {
  font-size: 1.2rem;
  line-height: 1;
  margin-top: -5px;
  color: #000;
}

.profileData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileData input {
  font-family: var(--body-font);
}

.bigImgProfile {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: .5s;
  margin-bottom: 22rem;
}

.bigImgProfile img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.3);
  max-width: 100%;
  max-height: 100%;
  transition: .5s;
}

.showImage {
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: var(--z-fixed);
}

.showImage img {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
  background: transparent;
}

.close:hover {
  opacity: .5;
}

.close:before, .close:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  top: 50%;
  left: 50%;
  background-color: #FFF;
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:after {
  transform: translate(-50%, -50%) rotate(135deg);
}

.buttonsInProfile {
  position: relative;
  top: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsFavDone {
  margin-top: 10px;
  padding: 11px 0;
  min-width: 230px;
  width: max-content;
  color: var(--title-home-color);
  box-shadow: 0 2px 10px rgba(35,0,77,.2);
  text-align: center;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.8s;
}

.buttonsFavDone:hover {
  color: var(--first-color);
  background-color: #FFF;
  box-shadow: 1px 2px 8px var(--first-color-darken);
}

.buttonExit {
  position: relative;
  margin-top: 10px;
  padding: 11px 0;
  min-width: 230px;
  width: max-content;
  box-shadow: 0 2px 10px rgba(46, 80, 150,.2);
  text-align: center;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;
  z-index: 0;
}

.buttonExit:before {
  content: '';
  position: absolute;
  border-radius: 20px;
  background: #313131;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease;
}

.buttonExit:hover:before {
  width: 101%;
}

.buttonExit:hover {
  color: #FFF;
  box-shadow: 0px 0px 20px 1px rgb(46, 80, 150);
  transition: all 0.5s ease;
}

.titleLogout {
  display: flex;
  justify-content: center;
}

.titleLogout div {
  margin-top: var(--mb-7);
  margin-left: var(--mb-1);;
  width: 50px;
}


.login {
  display: grid;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.loginAnim {
  justify-self: center;
}

.loginDashboard {
  height: 420px;
}

.loginForms {
  position: relative;
  height: 368px;
}

.loginRegister, .loginCreate {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--container-color);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.loginTitle {
  color: var(--title-home-color);
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

.loginBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  /* box-shadow: 0 3px 12px rgba(65,11,16,.15); */
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  border-radius: .5rem;
}

.loginIcon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.loginInput {
  border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--title-home-color);
}

.loginInput::placeholder {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--text-color-light);
}

.loginForgot {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--text-color-light);
}

.loginButton:disabled {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.loginButton:enabled {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #FFFF;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
  cursor: pointer;
}

.loginButton:hover {
  background-color: var(--title-home-color);
}

.loginAccount, .loginSignin, .loginSignup {
  font-weight: var(--font-bold);
  font-size: var(--small-font-size);
}

.loginAccount {
  color: var(--first-color-dark);
}

.loginSignin, .loginSignup {
  color: var(--title-home-color);
  cursor: pointer;
  transition: .5s;
}

.loginSignin:hover, .loginSignup:hover {
  color: var(--first-color);
}

.loginSocial {
  margin-top: 2rem;
}

.loginSocial-icon {
  font-size: 1.5rem;
  color: var(--title-home-color);
  margin: 0 1.5rem;
  cursor: pointer;
}

.loginSocial-icon:hover {
  color: var(--first-color);
}

/* Mostrar a tela de registro / login */
.block {
  display: block;
}

/* Esconder a tela de registro / login */
.none {
  display: none;
}